root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true

[*.cs]
csharp_indent_case_contents = true
csharp_indent_switch_labels = false
csharp_indent_case_contents_when_block = true

csharp_indent_labels = one_less
csharp_indent_block_contents = true
csharp_indent_braces = false

csharp_indent_namespace_contents = true
csharp_new_line_before_open_brace = types, methods, properties, accessors, lambdas#
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = false

csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false

csharp_space_after_keywords_in_control_flow_statements = true

csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false

csharp_space_between_square_brackets = false
csharp_space_between_empty_square_brackets = false

dotnet_style_operator_placement_when_wrapping = beginning_of_line

csharp_space_after_comma = true
csharp_space_before_comma = false
csharp_space_after_dot = false
csharp_space_before_dot = false

csharp_space_after_cast = false

csharp_preserve_single_line_comments = true

csharp_new_line_before_members_in_chained_method_calls = false

csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_expression_bodied_constructors = never:suggestion
csharp_style_expression_bodied_properties = when_on_single_line:suggestion
csharp_style_expression_bodied_accessors = when_on_single_line:suggestion
csharp_style_expression_bodied_indexers = when_on_single_line:suggestion

dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

csharp_prefer_braces = when_multiline:suggestion
csharp_style_namespace_declarations = block_scoped:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

# IDE0039: Use local function
csharp_style_prefer_local_over_anonymous_function = false
